body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Průhledné pozadí */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.competition-description {
    text-align: center;
    margin-bottom: 20px;
}

.competition-description img {
    max-width: 100%;
    height: auto;
    filter: brightness(70%);
    border-radius: 8px;
}

.description-text {
    font-size: 20px;
    margin-top: 20px;
}

.back-button {
    display: block;
    width: 120px;
    margin: 20px auto;
    padding: 10px;
    background-color: grey;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: gold;
}